
*{
    box-sizing: border-box;
}

.jumbotron{
    height: 150px;
    text-align: center;
    background-color: #800020;
    color: whitesmoke;
    padding: 0px;
}


h1 {

    text-align:center;
    height: 50px;
    margin: 0px 0px 5px;
}

html, body {

    height: 100%;

}

body {

    background-image: url("../image/82dairborne3.jpg");
    /*width: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
}

#imageId:hover {
    background-color: #800020;
}

#background {
    height: 300px;
    padding: 20px;
    border: #73a4c9;
    border-width: 2px;
    
}

.btn {
    width: 170px;
    height: 45px;
    padding:10px;
    
}

.btn-info {
    background-color: #73a4c9;

}

button#loadGame{
    margin-left: 20px;
    margin-top: 60px;
    background-color: #800020;
    color: #fff;
}
#restartBtn {
    margin-top: 80px;
    margin-left: 270px;
}

.answer {
    width: 200px;
    margin-left: 10px;
}

#background {

   /* background-image: ("../image/circles-light.png"); */
    /*text-align: center; */
    font-size: 16px;

}

.answer :hover {
    background-color: #73a4c9; 
}

#triviaRow.row {
    margin-top: 75px;
}


