
*{
    box-sizing: border-box;
}

.jumbotron{
    height: 150px;
    text-align: center;
    background-color: #800020;
    color: whitesmoke;
    padding: 0px;
}


h1 {

    text-align:center;
    height: 60px;
    margin: 0px 0px 10px;
}

body {

    background-image: url("../image/82dairborne2.jpg");
    
    height: 100%;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: image-set();
}


button#loadGame{
    margin-left: 20px;
    margin-top: 60px;
    background-color: #800020;
    color: #fff;
}

#background {

   /* background-image: ("../image/circles-light.png"); */
    /*text-align: center; */
    font-size: 16px;

}


