
*{
    box-sizing: border-box;
}

.jumbotron{
    height: 150px;
    text-align: center;
    background-color: #800020;
    color: whitesmoke;
    padding: 0px;
}


h1 {

    text-align:center;
    height: 50px;
    margin: 0px 0px 5px;
}

body {

    background-image: url("../image/82dairborne3.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#imageId:hover {
    background-color: #800020;
}

#background {
    height: 300px;
    padding: 40px 0 0 20px;
}


button#loadGame{
    margin-left: 20px;
    margin-top: 60px;
    background-color: #800020;
    color: #fff;
}

#background {

   /* background-image: ("../image/circles-light.png"); */
    /*text-align: center; */
    font-size: 16px;

}


